<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
View flagged record
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
    
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="flagged-records">Flagged-records (New)</a></li>
          <li class="nhsuk-breadcrumb__item">View flagged record (62555)</li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>

  </div>
</nav>

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
     <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
           <div class="nhsuk-main-wrapper" id="maincontent">
              <div class="nhsuk-grid-row">
                 <div class="nhsuk-grid-column-full">
               
                    <h1 class="nhsuk-heading-xl">
                       Flagged record (62555)
                    </h1>
                 </div>
              </div>
              <hr style="border-bottom:4px solid #005eb8; margin:0">
              <div class="nhsuk-scrollable-pane">
        
               <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>The OVM has added an additional cost of £500.55</p>
              </div>

               <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half" >
                   <div style="border: 5px solid grey; padding:20px 20px 1px 20px;">
                      <h2 class="nhsuk-heading-m">
                         OVM contact details
                      </h2>
                      <dl class="nhsuk-summary-list">
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                             Name
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Harry Adams
                          </dd>
                       </div>
                         <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                               Email address:
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              harry.adams@nhs.net
                            </dd>
                         </div>
                         <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                               Phone number
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              07466871403
                            </dd>
                         </div>
                         <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                               Trust
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                               Airedale NHS Foundation Trust
                            </dd>
                         </div>
                        </dl>

                   </div>
                </div>
             </div>
             <br>
             <div class="nhsuk-grid-column-one-half">
              <h2 class="nhsuk-heading-m">S2 details</h2> 
                  <h2 class="nhsuk-heading-s">Personal details of the holder</h2> 
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Issuing member state
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Spain
                  </dd>
                </div>
          
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Surname
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Smith
                  </dd>
                </div>
          
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Forenames
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Tony
                  </dd>
                </div>
          
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                   Date of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    10/11/1986
                  </dd>
                </div>
          
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Personal identification number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    280000000333
                  </dd>
                </div>
        
                </dl>
                <h2 class="nhsuk-heading-s">Location of treatment</h2> 
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Health care provider name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Darlington memorial hospital
                    </dd>
                  </div>
          
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      NHS trust
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      County Durham and Darlington NHS Foundation Trust
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      S2 issue date
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      28/10/2020
                    </dd>
                  </div>
                  </dl>
          
                <h2 class="nhsuk-heading-s">Validity period of S2</h2> 
                <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    S2 start date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01/11/2020
                  </dd>
                </div>
        
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    S2 end date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    30/01/2021
                  </dd>
                </div>
                </dl>
                
                <h2 class="nhsuk-heading-s">Institution completing the form</h2> 
                <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Institution ID
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    2800
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Institution name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    National Institute of Social Security, Provincial Head Office of Madrid
                  </dd>
                </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Institution address
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Plaza de los Astros 5-7 <br>
                      Madrid 28007 <br>
                    </dd>
                  </div>
              
              </dl>

              <h2 class="nhsuk-heading-s">Copy of the S2</h2> 
               <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    s2.jpg
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <a href="#">View file</a>
                  </dd>
                </div>
          
                </dl>

          
               <dl class="nhsuk-summary-list">
                <h2 class="nhsuk-label--m">Address details</h2>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Home address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    3A Calle de las Huertas<br>
                    Madrid<br>
                    Spain
                  </dd>
                </div>
          
              </dl>
          
               <dl class="nhsuk-summary-list">
                <h2 class="nhsuk-label--m">Treatment details</h2>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Treatment start date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01/11/2020
                  </dd>
                </div>
          
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Treatment end date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    30/01/2021
                  </dd>
                </div>
          
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Treatment cost
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £500.55
                </dd>
              </div>
          
            </dl>
              <p><a href="entitlements-2">View patient record</a> for Tony Smith.</p> 
              <br>
                        <div class="action-buttons">
                           <a class="nhsuk-button nhsuk-button--primary" style="margin-right: 25px;" href="unflag-confirmation">Unflag</a>
                           <a class="nhsuk-button nhsuk-button--secondary" href="cancel-flagged-record">Cancel</a>
                        </div>
                    
                      </div>
                  
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

{% endblock %}






