<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
View pending entitlement
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
    
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="pending-entitlements">Pending entitlements (Pending)</a></li>
          <li class="nhsuk-breadcrumb__item">View pending entitlement(Laura Peeters)</li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>

  </div>
</nav>

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
     <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
           <div class="nhsuk-main-wrapper" id="maincontent">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l" style="display: inline-block;">
                  Pending entitlement(Laura Peeters)
                </h1>
              
              </div>  

              <div class="nhsuk-grid-column-one-half">
        
                <a href="cancel-pending-entitlement"><button  class="nhsuk-button nhsuk-button--secondary" type="submit" style="float:right; margin-left:20px;">
                  Cancel entitlement
                </button></a>
                <a href="pending-entitlement-processed-confirmation"><button  class="nhsuk-button " type="submit" style="float:right; margin-left:20px;">
                  Process
                </button></a>
                <!--<p style="float:right; margin-top:15px;"><a href="#" >
                  <a href="entitlements-2">View patient record</a>
                </a></p>-->
              </div>
          </div>
 
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
              
                <div style="border: 3px; border-style: solid; border-color:lightgray; background-color:rgb(252, 252, 252); padding:20px 20px 1px 20px;">
  
                <dl class="nhsuk-summary-list">
                  <h2 class="nhsuk-heading-s">Institution details</h2>
  
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Entitlement information
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      EHIC with 3 treatments
                    </dd>
                  </div>
                   
                   <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Country of issue
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Belgium
                    </dd>
                  </div>
             
                   <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                       Institution ID
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                      020665
                     </dd>
                   </div>
  
                   <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Institution acronym
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      NIHDI
                    </dd>
                  </div>
  
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Institution name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      National Institute for Health and Disability Insurance
                    </dd>
                  </div>
  
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Institution address
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      3B Avenue Franklin Roosevelt<br>
                      28005 Brussels
                    </dd>
                  </div>
             
                 </dl>
                
                </div>
               </div>
  
               <div class="nhsuk-grid-column-one-half">
                
                <div style="border: 3px; border-style: solid; border-color:lightgray; background-color:rgb(252, 252, 252); padding:20px 20px 1px 20px;">
                
  
                 <p><span style="font-size:22px; font-weight:900;">Raise a service request: </span>Please raise a service request to the digital support team to add the missing institution details. Once the service request is confirmed you can enter the completion date and then process this record.</p>
  
               <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m" style="margin-bottom: 0px;">
                  <h2 class="nhsuk-heading-s">
                    Enter the service request details after completion of the request
                  </h2>
                </legend>
              
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="call-no">
                    Service request call number
                  </label>
                  <input class="nhsuk-input nhsuk-input--width-20" id="call-no" name="call-no" type="text" value="34589230">
                </div>
              
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="completion-date">
                    Service request completion date
                  </label>
                  <input class="nhsuk-input nhsuk-input--width-20" id="date" name="date" type="text" value="15/03/2021">
                </div>
              
              </fieldset>
              <br>
                    
                      </div>
                  
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

{% endblock %}






