<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Section 12
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">

      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="s12-home-page">Doctor Search</a></li>
                <li class="nhsuk-breadcrumb__item">Administration</li>
            </ol>
        </div>
      </div>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back to search results</a></p>
    </div>
</nav>


  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            {# <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <div class="panel panel-border-wide alert-default">
                            <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">English is their second language. May require an interpreter.</h2>
                        </div>

                    </div>
                </div> #}

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl">
                  Administration for Doctor Richard Schivago
                </h1>
              </div>
            </div>
          
      <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s12-basic-details">Basic Details</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s12-contact-info">Contact Info</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s12-approvals">Approvals</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s12-training">Training</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s12-documents">Documents</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="s12-administration">Administration</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s12-gmc">GMC</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s12-other-issues">Other Issues</a>
              </li>
            </ul>
			</nav>
                  
                <hr style="border-bottom:1px solid #ccc; margin:0">
    <br><br>
        
        
              
  
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">


            </div>


          </div>
              
              
<h3>Records of Letters Sent</h3>
                    <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table">

                      <!-- TABLE START -->
                      <thead class="nhsuk-table__head">
                        <tr class="nhsuk-table__row">

                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                              Date of Letter
                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                              Type of Letter
                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                              Letter Content
                          </th>
                          <th>
                             
                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                             
                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                             
                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            
                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                              Letter
                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                              Transfer
                          </th>

                        </tr>
                      </thead>

                      <tbody class="nhsuk-table__body nhsuk-body-">

                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">19 April 2021</td>
                          <td class="nhsuk-table__cell">Administrative</td>
                          <td class="nhsuk-table__cell">letter acknowledging this doctor ...</td>
                          <td class="nhsuk-table__cell"></td>
                          <td class="nhsuk-table__cell"></td>  
                          <td class="nhsuk-table__cell"></td>  
                          <td class="nhsuk-table__cell"></td>
                          <td class="nhsuk-table__cell"><a href="#">View Letter<span class="nhsuk-u-visually-hidden"></span></a></td>    
                          <td class="nhsuk-table__cell"><a href="#">View Transfer<span class="nhsuk-u-visually-hidden"></span></a></td>
                        </tr>

                      </tbody>


                    </table>
<h3>Transfer History</h3>
<p>There is no transfer history for this person.</p>
<br>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Notes
  </label>
  
  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
</div>
<br>

              <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button" type="submit" style="margin-right: 10px;"
                onclick="document.location.href='s12-administration-save-changes-q'">
                  Save Changes
                </button>
                <button class="nhsuk-button nhsuk-button--secondary" type="submit" style="margin-right: 10px;"
                onclick="document.location.href='s12-administration-new-letter'">
                  New Letter
                </button>
                <button class="nhsuk-button nhsuk-button--secondary" type="submit" onclick="document.location.href='s12-administration-new-transfer'">
                  New Transfer
                </button>
              </div>
          </div>

        </div>

      </div>

      <div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
          <ul>
            <li><a href="s12-home-page">Home</a></li>
          </ul>
        </div>

        <ul style="margin-left: 30px; margin-top: 10px;">
          <li><a href="s12-home-page" style="text-decoration: none">User Instructions</a></li>
          <li><a href="s12-trust-acronyms" style="text-decoration: none">Trust Acronyms</a></li>
          <li><a href="s12-national-s12-contacts" style="text-decoration: none">National Section 12 <br>Contacts</a></li>
        </ul>

        <div class="side-nav">
          <ul>
            <li><a class="active" href="s12-doctor-search">Doctor Search</a></li>
            <li><a href="s12-reports">Reports</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Admin</a></li>
          </ul>
        </div>
      </div>
    </div>
      </div>

  </div>

{% endblock %}