<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Edit treatment information
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
    
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search-results">Search results</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="entitlements">Tony Smith (Entilements and treatments)</a></li>
    <li class="nhsuk-breadcrumb__item">Treatment details (62999)</li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>

  </div>
</nav>

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
     <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
           <div class="nhsuk-main-wrapper" id="maincontent">
              <div class="nhsuk-grid-row">
                 <div class="nhsuk-grid-column-full">
               
                    <h1 class="nhsuk-heading-xl">
                       Treatment details (62999)
                    </h1>
                 </div>
              </div>
              <hr style="border-bottom:4px solid #005eb8; margin:0">
              <div class="nhsuk-scrollable-pane">
               <br>

               <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>This treatment was cancelled due to duplicate costs.</p>
              </div>

               <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third" >
                   <div style="border: 5px solid grey; padding:20px 20px 1px 20px;">
                      <h2 class="nhsuk-heading-m">
                         OVM contact details
                      </h2>
                      <dl class="nhsuk-summary-list">
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                             Name
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Harry Adams
                          </dd>
                       </div>
                         <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                               Email address
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              harry.adams@nhs.net
                            </dd>
                         </div>
                         <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                               Phone number
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              07466871403
                            </dd>
                         </div>
                         <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                               Trust
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                               Airedale NHS Foundation Trust
                            </dd>
                         </div>
                      </dl>
                   </div>
                </div>
             </div>
             <br>
                 <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-third">
                      <dl class="nhsuk-summary-list">
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                             Treatment start date
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            15/10/2020
                          </dd>
                       </div>
                         <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                               Treatment end date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              20/10/2020
                            </dd>
                         </div>
                         <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                               Cost
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              £2,500.55
                            </dd>
                         </div>
                      </dl>
                      </div>
                  
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

{% endblock %}






