<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
S2 added
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
     <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
           <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Search</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search-results">Search results</a></li>
              <li class="nhsuk-breadcrumb__item">Tony Smith (Entilements and treatments)</li>
           </ol>
        </div>
     </div>
     <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>
  </div>
</nav>
<div class="nhsBSA-sidebar-container">
<div class="nhsBSA-sidebar-wrapper">
<div class="nhsBSA-sidebar-content">
<div class="nhsuk-width-container-fluid">
  <div class="nhsuk-main-wrapper" id="maincontent">
     <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
           <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                 <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    S2 added successfully
                 </h2>
              </div>
              <div class="govuk-notification-banner__content">
                 <p class="govuk-notification-banner__heading">S2 has been added to entitlements for Tony Smith.</p>
              </div>
           </div>
        </div>
     </div>
     <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
           <h1 class="nhsuk-heading-xl">
              Entitlements and treatments
           </h1>
        </div>
        <div class="nhsuk-grid-column-one-third">
           <a href="new-entitlement"><button  class="nhsuk-button" type="submit" style="float:right">
           Add new entitlement
           </button></a>
        </div>
     </div>
     <hr style="border-bottom:4px solid #005eb8; margin:0">
     <div class="nhsuk-scrollable-pane">
        <br>
        <div class="nhsuk-grid-row">
           <div class="nhsuk-grid-column-full">
              <p>Select an entitlement to view treatments</p>
              <h2 class="nhsuk-heading-m">Active</h2>
              <div class="nhsuk-expander-group">
                 <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                       <span class="nhsuk-details__summary-text">
                       S2 - Valid: 24/08/2020 to 24/011/2020
                       </span>
                    </summary>
                    <div class="nhsuk-details__text">
                       <br><br>
                       <div class="nhsuk-action-link">
                          <a class="nhsuk-action-link__link" href="entitlement-details">
                             <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                             </svg>
                             <span class="nhsuk-action-link__text">View entitlement details</span>
                          </a>
                       </div>
                 </details>
                 </div>
                 <details class="nhsuk-details nhsuk-expander">
                  <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    EHIC - Valid: 22/08/2020 to 22/08/2025
                  </span>
                  </summary>
                  <div class="nhsuk-details__text">
                  <br><br>
                  <div class="nhsuk-action-link">
                  <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">View entitlement details</span>
                  </a>
                  </div>
                  <div class="nhsuk-table-responsive">
                    <table class="nhsuk-table">
                    <caption class="nhsuk-table__caption">Treatments</caption>
                    <thead class="nhsuk-table__head">
                    <th class="nhsuk-table__header" scope="col">Treatment ID</th>
                    <th class="nhsuk-table__header" scope="col">Start date</th>
                    <th class="nhsuk-table__header" scope="col">End date</th>
                    <th class="nhsuk-table__header" scope="col">Cost</th>
                    <th class="nhsuk-table__header" scope="col">Status</th>
                    <th class="nhsuk-table__header" scope="col">Processed date</th>
                    <th class="nhsuk-table__header" scope="col">Action</th>
                    </thead>
                    <tbody class="nhsuk-table__body">
                    <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell ">62999</td>
                    <td class="nhsuk-table__cell ">15/10/2020</td>
                    <td class="nhsuk-table__cell ">20/10/2020</td>
                    <td class="nhsuk-table__cell ">-</td>
                    <td class="nhsuk-table__cell "><strong class="nhsuk-tag no-caps nhsuk-tag--blue">Pending</strong></td>
                    <td class="nhsuk-table__cell ">-</td>
                    <td class="nhsuk-table__cell "><a href="#">Approve</a> / <a href="#">Reject</a></td>
                    </tr>
                    <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell ">62998</td>
                    <td class="nhsuk-table__cell ">03/10/2020</td>
                    <td class="nhsuk-table__cell ">10/10/2020</td>
                    <td class="nhsuk-table__cell ">£3,234.88</td>
                    <td class="nhsuk-table__cell "><strong class="nhsuk-tag no-caps nhsuk-tag--blue">Pending</strong></td>
                    <td class="nhsuk-table__cell ">-</td>
                    <td class="nhsuk-table__cell "><a href="#">Approve</a> / <a href="#">Reject</a></td>
                    </tr>
                    <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell ">63002</td>
                    <td class="nhsuk-table__cell ">25/08/2020</td>
                    <td class="nhsuk-table__cell ">20/09/2020</td>
                    <td class="nhsuk-table__cell ">£12,454.56</td>
                    <td class="nhsuk-table__cell "><strong class="nhsuk-tag no-caps nhsuk-tag--green">Processed</strong></td>
                    <td class="nhsuk-table__cell ">22/08/2020</td>
                    <td class="nhsuk-table__cell "><a href="#">Edit</a></td>
                    </tr>
                    <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell ">63645</td>
                    <td class="nhsuk-table__cell ">16/01/2019</td>
                    <td class="nhsuk-table__cell ">16/02/2019</td>
                    <td class="nhsuk-table__cell ">£534.55</td>
                    <td class="nhsuk-table__cell"><strong class="nhsuk-tag no-caps nhsuk-tag--green">Processed</strong></td>
                    <td class="nhsuk-table__cell ">17/02/2019</td>
                    <td class="nhsuk-table__cell "><a href="#">Edit</a></td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                  </div> 
                  </details>  
                 <h2 class="nhsuk-heading-m">Expired</h2>
                 <details class="nhsuk-details nhsuk-expander">
                 <summary class="nhsuk-details__summary">
                 <span class="nhsuk-details__summary-text">
                 PRC - Valid: 03/08/2011 to 22/08/2011
                 </span>
                 </summary>
                 <div class="nhsuk-details__text">
                 <br><br>
                 <div class="nhsuk-action-link">
                 <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551">
                 <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                 <path d="M0 0h24v24H0z" fill="none"></path>
                 <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                 </svg>
                 <span class="nhsuk-action-link__text">View entitlement details</span>
                 </a>
                 </div>
                 <div class="nhsuk-table-responsive">
                 <table class="nhsuk-table">
                 <caption class="nhsuk-table__caption">Treatments</caption>
                 <thead class="nhsuk-table__head">
                 <th class="nhsuk-table__header" scope="col">Treatment ID</th>
                 <th class="nhsuk-table__header" scope="col">Start date</th>
                 <th class="nhsuk-table__header" scope="col">End date</th>
                 <th class="nhsuk-table__header" scope="col">Cost</th>
                 <th class="nhsuk-table__header" scope="col">Status</th>
                 <th class="nhsuk-table__header" scope="col">Processed date</th>
                 <th class="nhsuk-table__header" scope="col">Action</th>
                 </thead>
                 <tbody class="nhsuk-table__body">
                 <tr class="nhsuk-table__row">
                 <td class="nhsuk-table__cell ">62999</td>
                 <td class="nhsuk-table__cell ">15/10/2020</td>
                 <td class="nhsuk-table__cell ">20/10/2020</td>
                 <td class="nhsuk-table__cell ">-</td>
                 <td class="nhsuk-table__cell "><strong class="nhsuk-tag no-caps nhsuk-tag--green">Processed</strong></td>
                 <td class="nhsuk-table__cell ">-</td>
                 <td class="nhsuk-table__cell "><a href="#">Edit</a></td>
                 </tr>
                 <tr class="nhsuk-table__row">
                 <td class="nhsuk-table__cell ">62998</td>
                 <td class="nhsuk-table__cell ">03/10/2020</td>
                 <td class="nhsuk-table__cell ">10/10/2020</td>
                 <td class="nhsuk-table__cell ">£3,234.88</td>
                 <td class="nhsuk-table__cell "><strong class="nhsuk-tag no-caps nhsuk-tag--green">Processed</strong></td>
                 <td class="nhsuk-table__cell ">-</td>
                 <td class="nhsuk-table__cell "><a href="#">Edit</a></td>
                 </tr>
                 <tr class="nhsuk-table__row">
                 <td class="nhsuk-table__cell ">63002</td>
                 <td class="nhsuk-table__cell ">25/08/2020</td>
                 <td class="nhsuk-table__cell ">20/09/2020</td>
                 <td class="nhsuk-table__cell ">£12,454.56</td>
                 <td class="nhsuk-table__cell "><strong class="nhsuk-tag no-caps nhsuk-tag--green">Processed</strong></td>
                 <td class="nhsuk-table__cell ">22/08/2020</td>
                 <td class="nhsuk-table__cell "><a href="#">Edit</a></td>
                 </tr>
                 <tr class="nhsuk-table__row">
                 <td class="nhsuk-table__cell ">63645</td>
                 <td class="nhsuk-table__cell ">16/01/2019</td>
                 <td class="nhsuk-table__cell ">16/02/2019</td>
                 <td class="nhsuk-table__cell ">£534.55</td>
                 <td class="nhsuk-table__cell"><strong class="nhsuk-tag no-caps nhsuk-tag--green">Processed</strong></td>
                 <td class="nhsuk-table__cell ">17/02/2019</td>
                 <td class="nhsuk-table__cell "><a href="#">Edit</a></td>
                 </tr>
                 </tbody>
                 </table>
                 </div>
                 </div> 
                 </details>  
                 </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
           <h3>Tony Smith<span class="nhsuk-caption-m nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden">
              -
              </span>3432234</span>
           </h3>
           <ul>
              <div id="options" class="options">
                 <li>
                    <a href="person-details">Person details</a>
                 </li>
                 <li>
                 </li>
                 <li>
                    <a class="active" href="entitlements">Entitlements and treatments</a>
                 </li>
                 <li>
                    <a href="case-history">Case history</a>
                 </li>
                 <li>
                    <a href="disallowed-item">Accessibility needs</a>
                 </li>
              </div>
           </ul>
        </div>
     </div>
  </div>
</div>

{% endblock %}