<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage cost recovery
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search-results">Search results</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="entitlements">Tony Smith (Entilements and treatments)</a></li>
              
      <li class="nhsuk-breadcrumb__item">Entitlement details (EHIC)</li>
              
          </ol>

        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            {# <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <div class="panel panel-border-wide alert-default">
                            <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">English is their second language. May require an interpreter.</h2>
                        </div>

                    </div>
                </div> #}

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl">
                  EHIC
                </h1>
            
              </div>
              <div class="nhsuk-grid-column-one-third">
            
                
</div>
            </div>
            <hr style="border-bottom:4px solid #005eb8; margin:0">
              <br>
              
            <div class="nhsuk-scrollable-pane">
                <br>
                <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                          <div class="nhsuk-grid-row">
                          <div class="nhsuk-grid-column-two-thirds">
  
                            <dl class="nhsuk-summary-list">
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Issuing member state
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  Spain
                                </dt>
                                </dd>
                              </div>
                        
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Name
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  Smith
                                </dt>
                                </dd>
                              </div>
                        
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Given names
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  Tony
                                </dt>
                                </dd>
                              </div>
                        
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                 Date of birth 
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  06/12/1988
                                </dt>
                                </dd>
                              </div>
                        
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Personal identification number
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  280000000293
                                </dt>
                                </dd>
                              </div>
                        
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Identification number of the institution
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  2800 - INSS MADRID
                                </dd>
                              </div>

                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Name of the institution
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  National Institute of Social Security, Provincial Head Office of Madrid
                                </dd>
                              </div>
                        
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Identification number of the card
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  80724028000420000098
                                </dt>
                                </dd>
                              </div>
                        
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Expiry date
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  04/08/2021
                                </dt>
                                </dd>
                              </div>
                            
                            </dl>
                        
                          </div>
                          </div>
                            
                  <!--<div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                  <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="1">
                                 Issuing member state
                                </label>
                                <input class="nhsuk-input nhsuk-u-width-one-third" id="1" name="1" type="text" value="Spain">
                              </div>
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="1">
                                  First name
                                </label>
                                <input class="nhsuk-input nhsuk-u-width-one-third" id="1" name="1" type="text" value="Laurent">
                              </div>
      
            
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="1">
                                  Date of birth
                                </label>
                                <input class="nhsuk-input nhsuk-u-width-one-third" id="1" name="1" type="text" value="06/12/1988">
                              </div>
                              <div class="nhsuk-form-group">
                                  <label class="nhsuk-label" for="2">
                                    Personal identification number
                                  </label>
                                  <input class="nhsuk-input nhsuk-u-width-one-third" id="2" name="2" type="text" value="2028392923239">
                                </div>
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="3">
                                      Identification number of the institution
                                    </label>
                                    <input class="nhsuk-input nhsuk-u-width-one-third" id="3" name="3" type="text" value="2800 - INSS MADRID">
                                  </div>
                                  <div class="nhsuk-form-group">
                                      <label class="nhsuk-label" for="4">
                                       Identification number of card
                                      </label>
                                      <input class="nhsuk-input nhsuk-u-width-one-third" id="4" name="4" type="text" value="432343422434">
                                    </div>
                            <div class="nhsuk-form-group">
                                      <label class="nhsuk-label" for="4">
                                      Expirary date
                                      </label>
                                      <input class="nhsuk-input nhsuk-u-width-one-third" id="4" name="4" type="text" value="04/08/2021">
                                    </div>
         
            
                                <a href="applicant-view-personal-details">
                                <button class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" type="submit">
                                    Update details
                                </button>
                                </a>

                                <p class="nhsuk-u-margin-top-4"><a href="applicant-view-contact-details">Cancel</a></p>

            
            
            
                        </div>
            
                      </div> -->
   
                      </div>
            
                </div>

              <div class="nhsuk-scrollable-pane__wrapper">
                <div class="nhsuk-tabs-container">


                </div>

                <div id="table-scroll" class="table-scroll">
                  <div class="nhsuk-table-responsive nhsuk-u-margin-top-0 table-wrap">
                      
                      <!--
                    <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table">

                      <thead class="nhsuk-table__head">
                        <tr class="nhsuk-table__row">


                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            <button type="button" data-index="0">Name</button>

                          </th>

                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            <button onclick="sortTable()" type="button" data-index="0">Date of birth</button>

                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            <button onclick="sortTable()" type="button" data-index="0">Date of death</button>

                          </th>

                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            <button onclick="sortTable()" type="button" data-index="0">NHS number</button>

                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            <button onclick="sortTable()" type="button" data-index="0">Hospital number</button>
                          </th>

                          <th class="nhsuk-table__header fixed-side" aria-sort="none" scope="col">
                            <button onclick="sortTable()" type="button" data-index="0">Case created</button>
                          </th>

                          <th class="nhsuk-table__header fixed-side" aria-sort="none" scope="col">
                            <button onclick="sortTable()" type="button" data-index="0">Status</button>
                          </th>

                        </tr>
                      </thead>

                      <tbody class="nhsuk-table__body nhsuk-body-">
     
                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"><a href="case-1">Mark Smith</a></td>
                          <td class="nhsuk-table__cell">02 April 1956</td>
                          <td class="nhsuk-table__cell">24 January 2020</td>
                          <td class="nhsuk-table__cell">485 777 3456</td>
                          <td class="nhsuk-table__cell">62155</td>
                          <td class="nhsuk-table__cell">24 January 2020</td>
                          <td class="nhsuk-table__cell">
                            <span class="nhsuk-tag nhsuk-tag--red">Urgent</span></td>
                        </tr>

                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"><a href="case-1">Mark Smith</a></td>
                          <td class="nhsuk-table__cell">02 April 1956</td>
                          <td class="nhsuk-table__cell">24 January 2020</td>
                          <td class="nhsuk-table__cell">485 777 3456</td>
                          <td class="nhsuk-table__cell">62155</td>
                          <td class="nhsuk-table__cell">24 January 2020</td>
                          <td class="nhsuk-table__cell">
                            <span class="nhsuk-tag nhsuk-tag--green">Routine</span></td>
                        </tr>

                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"><a href="case-1">Mark Smith</a></td>
                          <td class="nhsuk-table__cell">02 April 1956</td>
                          <td class="nhsuk-table__cell">24 January 2020</td>
                          <td class="nhsuk-table__cell">485 777 3456</td>
                          <td class="nhsuk-table__cell">62155</td>
                          <td class="nhsuk-table__cell">24 January 2020</td>
                          <td class="nhsuk-table__cell">
                            <span class="nhsuk-tag nhsuk-tag--green">Routine</span></td>
                        </tr>

                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"><a href="case-1">Mark Smith</a></td>
                          <td class="nhsuk-table__cell">02 April 1956</td>
                          <td class="nhsuk-table__cell">24 January 2020</td>
                          <td class="nhsuk-table__cell">485 777 3456</td>
                          <td class="nhsuk-table__cell">62155</td>
                          <td class="nhsuk-table__cell">24 January 2020</td>
                          <td class="nhsuk-table__cell">
                            <span class="nhsuk-tag nhsuk-tag--orange">Priority</span></td>
                        </tr>

                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell"><a href="case-1">Mark Smith</a></td>
                          <td class="nhsuk-table__cell">02 April 1956</td>
                          <td class="nhsuk-table__cell">24 January 2020</td>
                          <td class="nhsuk-table__cell">485 777 3456</td>
                          <td class="nhsuk-table__cell">62155</td>
                          <td class="nhsuk-table__cell">24 January 2020</td>
                          <td class="nhsuk-table__cell">
                            <span class="nhsuk-tag nhsuk-tag--green">Routine</span></td>
                        </tr>
                      </tbody>
                    </table>
-->

                  </div>

                </div>

              </div>
              <div></div>
            </div>


          </div>

        </div>

      </div>
      <div class="nhsBSA-sidebar-nav">

        <div class="side-nav">

          <h3>Tony Smith<span class="nhsuk-caption-m nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden">
                  -
                </span>3432234</span></h3>

          <ul>
            <div id="options" class="options">
              <li>
                <a href="person-details">Person details</a>
              </li>
              <li>

    </li>
              <li>
                <a class="active" href="entitlements">Entitlements and treatments</a>
              </li>
                <li>
                <a href="case-history">Case history</a>
              </li>
                <li>
                <a href="disallowed-item">Accessibility needs</a>
              </li>
              
            </div>
          </ul>

          <!-- <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button--secondary" type="submit">Add note</button>
            </div> -->
        </div>

      </div>
    </div>

  </div>

{% endblock %}