<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage cost recovery
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="uk-claims">UK claims (Search)</a></li>
      <li class="nhsuk-breadcrumb__item">Search results</li>
          </ol>

        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">
<div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl">
                  Search results
                </h1>
              </div>
              <div class="nhsuk-grid-column-one-third">
             <a href="create-claim"><button  class="nhsuk-button" type="submit" style="float:right">
  Create new claim
</button></a>
                
</div>
  
            </div>
            <hr style="border-bottom:4px solid #005eb8; margin:0">
              
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                  <br>
                  <br>
                  <h2 class="nhsuk-heading-s">Showing results for <span class="nhsuk-tag nhsuk-tag--green" style="color: #354550; margin-right:20px; margin-left:5px;">9543</span></h2>
                <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table">

                      <!-- TABLE START -->
                      <thead class="nhsuk-table__head">
                        <tr class="nhsuk-table__row">


                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                           Claim ID
                          </th>

                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            Year

                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            Month

                          </th>
                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            Entitlement

                          </th>

                            <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            Country
                          </th>

                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            Status
                          </th>

                          <th class="nhsuk-table__header" aria-sort="none" scope="col">
                            Action
                          </th>
                            

                        </tr>
                      </thead>

                      <tbody class="nhsuk-table__body nhsuk-body-">
             
                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">9543</td>
                          <td class="nhsuk-table__cell">2021</td>
                          <td class="nhsuk-table__cell">February</td>
                          <td class="nhsuk-table__cell">S2</td>
                          <td class="nhsuk-table__cell">France</td>
                          <td class="nhsuk-table__cell "><strong strong style="color: #354550"; class="nhsuk-tag no-caps nhsuk-tag--purple">Claimed</strong></td>
                        <td class="nhsuk-table__cell"><a href="claim-treatment-forms-1">View Claim</a></td>
                        </tr>

                      </tbody>
                    </table>
                </div>
                
            </div>
        
         <nav class="nhsuk-pagination" id="pagination-label">

              <p class="nhsuk-u-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

              <ul class="nhsuk-pagination__list">
                <li class="nhsuk-pagination__item  nhsuk-pagination__item--prev">
                  <a class="nhsuk-pagination__link" href="">Previous<span class="nhsuk-u-visually-hidden"> set of
                      pages</span></a>
                </li>

                <li class="nhsuk-pagination__item nhsuk-pagination__item--active">1</li>

                <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="/page=2">2</a></li>

                <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="/page=3">3</a></li>

                <li class="nhsuk-pagination__item  nhsuk-pagination__item--next">
                  <a class="nhsuk-pagination__link" href="">Next<span class="nhsuk-u-visually-hidden"> set of
                      pages</span></a>
                </li>
              </ul>
              <p class="nhsuk-pagination__results">Showing <b>1</b> to <b>10</b> of <b>2,142</b> results</p>
            </nav>


          </div>

        </div>

      </div>

    <!-- <div class="nhsBSA-sidebar-nav">

        <div class="side-nav">
    
  
              <ul>
            <div id="options" class="options">
              <h3 class="nhsuk-heading-xs">Browse</h3>
                <li>
                <a href="search">Search</a>
              </li>
              
                
                   <h3 class="nhsuk-heading-xs">Actions</h3>
                            
                <li>
                <a href="account-requests" >Account requests<span class="notification-badge" style="background-color: #005eb8">2 </span></a>
                    <a href="flagged-records" >Flagged records<span class="notification-badge" style="background-color: #005eb8">4 </span></a>
                    <a href="uk-claims" class="active">UK claims</a>
              </li>
              
            </div>
          </ul>
      
        </div>

      </div>-->
    </div>

{% endblock %}