<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Section 12 {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">

      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="s12-search-results">Search</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="s12-basic-details">Basic Details</a></li>
                <li class="nhsuk-breadcrumb__item">Confirm Record Deletion</li>
            </ol>
        </div>
      </div>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>
    </div>
</nav>

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">
          {#
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="panel panel-border-wide alert-default">
                <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">
                  English is their second language. May require an interpreter.
                </h2>
              </div>
            </div>
          </div>
          #}

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-xl">
                Confirm Record Deletion
              </h1>
            </div>
          </div>

          <!-- SUMMARY LIST START -->
          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Title
              </dt>
              <dd class="nhsuk-summary-list__value">
                Dr
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                First Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                Robby
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Last Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                Schivago
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Sex
              </dt>
              <dd class="nhsuk-summary-list__value">
                Male
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date of Birth
              </dt>
              <dd class="nhsuk-summary-list__value">
                01 September 1978
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Professional Registration # (including GMC number)
              </dt>
              <dd class="nhsuk-summary-list__value">
                123456789
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Brought Forward Date
              </dt>
              <dd class="nhsuk-summary-list__value">
                30 May 2022
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Application Status
              </dt>
              <dd class="nhsuk-summary-list__value">
                Chase panel 21/4/22
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Archive
              </dt>
              <dd class="nhsuk-summary-list__value">
                No
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Regular Work Hours
              </dt>
              <dd class="nhsuk-summary-list__value">
                Yes
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Out of Hours
              </dt>
              <dd class="nhsuk-summary-list__value">
                No
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Fee Paying Work Start Time
              </dt>
              <dd class="nhsuk-summary-list__value">
                9:00
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Fee Paying Work End Time
              </dt>
              <dd class="nhsuk-summary-list__value">
                17:00
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Comments
              </dt>
              <dd class="nhsuk-summary-list__value">
                None
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Regions
              </dt>
              <dd class="nhsuk-summary-list__value">
                London, North East
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Primary Approving Region
              </dt>
              <dd class="nhsuk-summary-list__value">
                East of England
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Last Updated By
              </dt>
              <dd class="nhsuk-summary-list__value">
                Douglas Caven on 4 May at 12:00 
              </dd>
            </div>

          </dl>


          <!-- START OF FORM -->
          <form action="recDelete" class="form" method="get">
            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset">

                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <h3>Do you confirm that you want to delete this record?</h3>
                </legend>

                <div class="nhsuk-radios nhsuk-radios--inline">
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-inline-1" name="radioInlineGroup" type="radio"
                      value="Yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                      Yes
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-inline-2" name="radioInlineGroup" type="radio"
                      value="No">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                      No
                    </label>
                  </div>

                </div>
              </fieldset>
            </div>
            
            <button class="nhsuk-button" type="submit">
              Confirm
            </button>
          </form>

        </div>
      </div>
    </div>

    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <li><a href="s12-home-page">Home</a></li>
        </ul>
      </div>

      <ul style="margin-left: 30px; margin-top: 10px">
        <li>
          <a href="s12-home-page" style="text-decoration: none">User Instructions</a>
        </li>
        <li>
          <a href="s12-home-page" style="text-decoration: none">Trust Acronyms</a>
        </li>
        <li>
          <a href="s12-home-page" style="text-decoration: none">National Section 12 <br />Contacts</a>
        </li>
      </ul>

      <div class="side-nav">
        <ul>
          <li><a class="active" href="s12-doctor-search">Doctor Search</a></li>
          <li><a href="s12-reports">Reports</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Admin</a></li>
        </ul>
      </div>

    </div>
  </div>
  {% endblock %}
</div>