{% extends 'layout-sidebar.html' %}

{% block pageTitle %}
Cost recovery ops prototype
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

<h1>
   Cost Recovery Ops team Prototype
</h1>
<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 4
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>View, unflag and cancel flagged records.</li>
    <li>Filter flagged records.</li>
</ul>
    <ul>
     <li><a href="version-4/search">Ops team portal</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 3
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>Showing cost above £10,000, treatment dates beyond 6 months, person is a student, OR, additional costs approved by OVM.</li>
    <li>Added pending status treatments along with reason.</li>
    <li>File upload and view the file for S2</li>
    <li>Duplicate entitlement entry</li>
</ul>
    <ul>
     <li><a href="version-3/search">Ops team portal</a></li>
     <li><a href="version-3/duplicate-entitlement">Duplicate entitlement entry</a></li>
     <li><a href="version-3/entitlements-s2-pending">Pending entitlement along with reason</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 2
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>Search for a person with treatment ID</li>
    <li>Being able to filter account requests by trusts and viewing the request under approved and rejected.</li>
    <li>Multi page S2 flow</li>
    <li>Editing and cancelling treatment information and cancelling entitlements.</li>
</ul>
    <ul>
     <li><a href="version-2/search">Ops team portal</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 1
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
     <li>Search for a person with name, dob and country</li>
     <li>Account requests showing approved and rejected.</li>
     <li>Single page S2 flow</li>
 </ul>
    <ul>
     <li><a href="version-1/search">Ops team portal</a></li>
    </ul>
  </div>
</details>

</main>
</div>

{% endblock %}  