<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Section 12
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>Section 12 <span class="nhsuk-caption-xl nhsuk-caption--bottom">Doctor Database</span>
      </h1>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
           <span class="nhsuk-details__summary-text">Version 2</span>
        </summary>
        <div class="nhsuk-details__text">
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Removed CYA + confirmation pages.</li>
          </ul>
          <br>
          <p class="nhsuk-u-margin-bottom-0"><a href="v2/s12-home-page"><button class="nhsuk-button"
                   type="submit">Section 12 (v2)</button></a></p>
 
        </div>
     </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
           <span class="nhsuk-details__summary-text">Version 1</span>
        </summary>
        <div class="nhsuk-details__text">
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>For section 12 registered doctor </li>
            <li>Replication of the functionality</li>
          </ul>
          <br>
          <p class="nhsuk-u-margin-bottom-0"><a href="v1/s12-home-page"><button class="nhsuk-button"
                   type="submit">Section 12 (v1)</button></a></p>

        </div>
     </details>


    </div>
  </div>
{% endblock %}
